mixin item(title, url)
    li
        a(href=url, class=active == title ? 'active' : '')= title

mixin listLink(title, url, classList, classLink)
    li(class=classList)
        a(href=url class=classLink)= title

mixin iconSvg(w, h, wp, id)
    svg(width=w height=h class=id)
        use(xlink:href="/images/icons/sprites.svg#"+id)

mixin mixinSvg(w, h, idIcon, className)
    svg(width=w height=h class=className)
        use(xlink:href="/images/icons/sprites.svg#"+idIcon)

mixin img(src, addClass, altImg)
    if altImg == ""
        img(src=src alt="Title Image" class=addClass)
    else
        img(src=src alt=altImg class=addClass)

mixin input(placeholder, type, addClass)
    input(type=type placeholder=placeholder class=addClass).input

mixin textarea(placeholder, addClass)
    textarea(placeholder=placeholder class=addClass).textarea

mixin radioInput(checked, text)
    label.radio-button
        if checked == true
            input.radio-button__input(type="radio" name="radio" checked="checked")
        else
            input.radio-button__input(type="radio" name="radio")
        span.radio-button__text
            span.radio-button__status
            span=text

mixin checkInput(checked, text)
    label.checkbox-button
        if checked == true
            input.checkbox-button__input(type="checkbox" checked="checked" required="")
        else
            input.checkbox-button__input(type="checkbox" required="")
        span.checkbox-button__text
            span.checkbox-button__status
            block

mixin checkInputDefault(checked, name, text)
    label.checkbox-default
        if checked == true
            input.checkbox-default__input(type="checkbox" checked="checked" required="")
        else
            input.checkbox-default__input(type="checkbox" required="")
        span.checkbox-default__text
            span.checkbox-default__status
            span.checkbox-default__text-name= name
            span.checkbox-default__text-content=text

mixin radioInputDefault(checked, radioName, name)
    label.radio-default
        if checked == true
            input.radio-default__input(type="radio" name=radioName checked="checked" required="")
        else
            input.radio-default__input(type="radio" name=radioName required="")
        span.radio-default__text
            span.radio-default__status
            span.radio-default__text-name= name
            span.radio-default__text-content
                block